sudo: required

services:
    - docker

env:
    - SERVER_IP_ADDRESS=161.35.53.190

before_install:
    - openssl aes-256-cbc -K $encrypted_dfdcfd5172af_key -iv $encrypted_dfdcfd5172af_iv
        -in deploy_key.enc -out ./deploy_key -d
    - eval "$(ssh-agent -s)"
    - chmod 600 ./deploy_key
    - echo -e "Host $SERVER_IP_ADDRESS\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
    - ssh-add ./deploy_key
    # - ssh -i ./deploy_key root@161.35.53.190 pwd

after_success:
    - ssh -i ./deploy_key root@161.35.53.190 "cd Appa; docker-compose up -d --build"
    # - cd Appa
    # - docker-compose up -d --build


# before_script:
#     - docker-compose run --rm django hello_django/manage.py test

script:
    - ssh -i ./deploy_key root@161.35.53.190 ls
    #  - docker-compose run --rm django hello_django/manage.py migrate

# deploy:
#     - provider: script
#       skip_cleanup: true
#       script: docker-compose up -d --build
#       on:
#         branch: master
