version: '3'

services:

    django:
        image: soumya9v/django:latest
        build: 
            context: .
            dockerfile: Dockerfile.dev 
        volumes:
            - .:/app/djangoapp
            - static_volume:/app/djangoapp/static  
            - media_volume:/app/djangoapp/media 
        networks:  
            - nginx_network
            - db_network
        depends_on:
            - db
        links:
            - db:db
    
    nginx:
        image: nginx:1.13
        ports:
            - 8000:80
        volumes:
            - ./config/nginx/conf.d:/etc/nginx/conf.d
        depends_on: 
            - django
        networks: 
            - nginx_network
    
    db:
        image: postgres:10.0-alpine
        container_name: db
        env_file:
            - config/db/db_env
        networks:
            - db_network
        volumes:
            - db_volume:/var/lib/postgresql/data

networks:   
    nginx_network:
        driver: bridge
    db_network:
        driver: bridge
    
volumes:
    db_volume:
    static_volume:  
    media_volume: 
